* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6669b0;
}

.Btn:hover {
    background-color: #43456e;
    border: 1px solid #43456e;
}

.addBtn {
    background-color: #6669b0;
    color: white;
}

.btnDel:hover {
    color: red;
}

.btnEdit:hover {
    color: rgb(0, 255, 0);
}

.btnView:hover {
    color: #6669b0;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
}

.radioAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioBtnAlign {
    display: flex;
    align-items: center;
    gap: 30px;
}